@import 'mixins/_button';
@import 'colors/_colors';
@import 'variables/_variables';

*{
	margin: 0;
	padding: 0;
}


.buttons{
	width: 70%;
	height: 70%;
	background: lightgray;
	position: absolute;
	display: flex;
	justify-content: space-around;
}


// The paramater list is below

// 1. Button Width
// 2. Button Height (it is better for this value to be set 4 times lower than the base width)
// 3. Button background color
// 4. Button text color
// 5. Button font size
// 6. Box shadow of the button
// 7. Transition of the button



#blueButt{
	@include button($buttonWidth, $buttonWidth/4, $mainBlue, $mainWhite, $mainFontSize, 10px, 0.1s);
}

#greenButt{
	@include button($buttonWidth, $buttonWidth/4, $mainGreen, $mainWhite, $mainFontSize, 10px, 0.1s);
}

#redButt{
	@include button($buttonWidth, $buttonWidth/4, $mainRed, $mainWhite, $mainFontSize, 10px, 0.1s);
}
